body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #8CC461;
    /* width: 100vw; */
    height: 100vh;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.playArea {
    width: 50vw;
}

#scoreboard {
    display: flex;
    border: 2px solid black;
    width: 100%;
    justify-content: space-between;
}

.title {
    line-height: 0;
}

.score-container {
    display: flex;
    /* width: 85px; */
}
.score {
    width: 80px;
    background: white;
    margin: 10px;
}

.button-container {
    width: 100%;
    text-align: center;
}

.corner {
    width: 100%;
    text-align: end;
}

#gameRules {
    position: absolute;
    /* bottom: 0; */
    right: 30px;
    /* display: none; */
    /* visibility: hidden; */
    /* width: 10vw; */
    /* font-size: 10px; */
}

.close-btn {
    position: absolute;
    top: -10px;
    right: -10px;
}

.next {
    /* display: none; */
}